.tasklist {
  padding: 8px;
  background-color: #5997b9;
  border-radius: 2px;
}

.tasklist .title {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}
